body, html {
  background-color: black;
  min-height: 100%;
  height: 100%;
  margin: 0;
}

#container {
        max-width: 600px;
        height: 400px;
        background-color: #c3c3c3;
        /* margin: 0 auto; */
        justify-content: center;/* Usando o justify-content: center; ele ja esta aliando ao centro, não sendo necessario usar os dois. */
        display: grid; /* Qual a justificativa de usar o grid ao invés do flex? */
        border: 1px solid #ccc;
        flex-wrap: wrap; /* essa propriedade serve para quebrar os elementos quando ja não cabem mais em linha, que neste caso não se aplica.*/
    }

    /* @media screen and (max-width: 1280px) and (min-width: 320px;) { nesse trecho nao possui ponto e virgula */
    @media screen and (max-width: 1280px) and (min-width: 320px) {
        #container {
            flex: 50%;
        }
    }

    .box {
        display: flex;
        align-items: flex-end;
        /* background-size: cover; esse trecho de código é usado para preencher um elemento com uma imagem, mas esse elemento não possui imagem*/
    }
    @media screen and (max-width: 1280px) and (min-width: 320px) {
        .box {
            flex: 50%;
        }
    }

    .box>*:nth-child(1) {
        align-self: center;
        width: 60px;
        height: 60px;
        border-radius: 90px;
        margin-top: 60px;
        background-color: #cc66cc;
    }

    @media screen and (max-width: 1280px) and (min-width: 320px) {
        /* .box>*:nth-child(1){ flex: 50%; } */
    }


    .box>*:nth-child(2) {
        align-self: center;
        width: 70px;
        height: 70px;
        border-radius: 90px;
        background-color: rgb(228, 74, 74);
    }

 
    @media screen and (max-width: 1280px) and (min-width: 320px) {
        /* .box>*:nth-child(2){ flex: 50%; } */
    }


    .box *:nth-child(3) {
        align-self: center;
        width: 60px;
        height: 60px;
        border-radius: 90px;
        margin-top: 80px;
        background-color: red;
    }

    
    @media screen and (max-width: 1280px) and (min-width: 320px) {
        /* .box>*:nth-child(3){ flex: 100%; } */
    }

    .podio {
        display: flex;
        /* margin: 0 auto; */
        /* justify-content: flex-end;  */
        justify-content: center; /* nesse caso eu usaria apenas o justify-content com a propriedade center, assim ja vai alinhar no centro */
        /* flex-wrap: wrap; essa propriedade serve para quebrar os elementos quando ja não cabem mais em linha, que neste caso não se aplica. */
        align-items: flex-end;
    }

    @media screen and (max-width: 1280px) and (min-width: 320px) {
        /* .podio { flex: 100%; } */
    }


    .podio img {
        /* animation: animacao 5s ease forwards alternate; esse tempo de animação  considero um pouco lento, ja que os usuarios querem que as coisas aconteçam de forma rapida. */
        animation: animacao 1s ease forwards; 
    }

    @keyframes animacao {
        from { 
            height: 5px;
        }
        to { 
            height: 250px;
        }
    }

    @media screen and (max-width: 1280px) and (min-width: 320px) {
        /* .podio img{ flex: 50%; } */
    }